# MCP/Internals (optional)

HOST=0.0.0.0
PORT=8080

LOG_LEVEL=info # debug, info, warn, error, dpanic, panic, fatal
ERROR_DETAIL=useful # useful, verbose
OUTPUT_FORMAT=webp # png, jpeg, jxl (JPEG XL), webp

# Auth

API_KEY=change-me

# Providers (optional, but you probably want to provide at least one)

SD_URL=http://127.0.0.1:7860
NOVELAI_API_KEY=

# Files

PUBLIC_HOST=
FILES_DIR=files # "files" resolves to /data/files
